.row-height {
  display: table;
  height: 100%;
  width: 100%;
}
.row-height .col-height {
  position: relative;
  display: table-cell;
  height: 100%;
  float: none;
}
.row-height .col-height.noPadding {
  padding: 0;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@-webkit-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@-moz-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@-o-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.media {
  padding: 40px 0;
  overflow: hidden;
  border-bottom: 1px solid #d7d7d7;
}
.media .tabList {
  overflow: hidden;
}
.media .tabList h2 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 24px;
  font-weight: normal;
  font-size: 22px;
  color: #000000;
  font-weight: 600;
  margin: 0 20px 25px 0;
  float: left;
}
.media .tabList a:link,
.media .tabList a:visited {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 20px;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  font-weight: 600;
  float: left;
  margin: 0 20px 20px 0;
  text-decoration: none;
  border-bottom: 4px solid #ffffff;
}
.media .tabList a:link span,
.media .tabList a:visited span {
  color: #868e91;
}
.media .tabList a.active {
  border-bottom: 4px solid #000000;
}
.media .tabList a.viewAllVideos {
  float: right;
}
.media .tabList a.viewAllVideos:link,
.media .tabList a.viewAllVideos:visited {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 16px;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  font-weight: 600;
}
.media .tabContent {
  overflow: auto;
}
.media .tabContent .scrollBox {
  display: block;
  width: max-content;
}
.media .tabContent .scrollBox .responsiveVideo {
  float: left;
  height: 270px;
}
.media .tabContent .scrollBox .responsiveVideo iframe {
  width: 480px;
  height: 180px;
  display: block;
}
.media .tabContent .scrollBox .responsiveVideo .LazyLoad {
  background: #081c24;
  width: 480px;
  height: 270px;
  position: relative;
  min-height: 168px;
}
.media .tabContent .scrollBox .responsiveVideo .LazyLoad:before {
  content: "\f3ff";
  font: bold normal normal 28px/1 'Font Awesome\ 5 Free';
  color: #01d277;
  line-height: 28px;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  top: calc(50% - 40px );
  right: calc(50% - 40px );
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
.media .tabContent .scrollBox .responsiveVideo .LazyLoad.is-visible:before {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.media .tabContent .scrollBox .responsiveVideo .LazyLoad a.videoThumb {
  display: block;
  width: 480px;
  height: 270px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.media .tabContent .scrollBox .responsiveVideo .LazyLoad a.videoThumb:before {
  content: "\f04b";
  font: bold normal normal 20px/1 'Font Awesome\ 5 Free';
  color: #ffffff;
  line-height: 20px;
  line-height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border: 5px solid #ffffff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.media .tabContent .scrollBox .responsiveVideo .LazyLoad a.videoThumb img {
  display: block;
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
  .media {
    margin: 0 !important;
  }
  .media .tabList .lista {
    overflow: auto;
  }
  .media .tabList .lista .links {
    display: block;
    width: max-content;
  }
  .media .tabList .lista .links a:link,
  .media .tabList .lista .links a:visited {
    margin: 0 20px 20px 0;
  }
  .media .tabList .lista .links a.viewAllVideos {
    float: left;
    line-height: 25px;
  }
  .media .tabContent .scrollBox .responsiveVideo {
    float: left;
    height: auto;
    width: 260px;
  }
  .media .tabContent .scrollBox .responsiveVideo iframe {
    width: 100%;
    height: auto;
    display: block;
  }
  .media .tabContent .scrollBox .responsiveVideo .LazyLoad {
    width: 320px;
    height: 180px;
  }
  .media .tabContent .scrollBox .responsiveVideo .LazyLoad a.videoThumb {
    width: 320px;
    height: 180px;
  }
}
