@import './../../../Mixins.less';

.media{
    padding:40px 0;
    overflow:hidden;
    border-bottom:1px solid #d7d7d7;
    .tabList{
        overflow:hidden;
        h2{
            .setFont(22px, @preto);
            font-weight:600;
            margin:0 20px 25px 0;
            float:left;
        }
        a{
            &:link,
            &:visited{
                .setFont(18px, @preto);
                font-weight:600;
                float:left;
                margin:0 20px 20px 0;
                text-decoration:none;
                border-bottom:4px solid @branco;
                span{
                    color:@cinza;
                }
            }
            &.active{
                border-bottom:4px solid @preto;
            }
            &.viewAllVideos{
                float:right;
                &:link,
                &:visited{
                    .setFont(14px, @preto);
                    font-weight:600;
                }
            }
        }
    }
    .tabContent{
        overflow:auto;
        .scrollBox{
            display:block;
            width:max-content;
            .responsiveVideo{
                float:left;
                height:270px;
                iframe{
                    width:480px;
                    height:180px;
                    display:block;
                }
                .LazyLoad{
                    background:@primaria;
                    width:480px;
                    height:270px;
                    position:relative;
                    min-height:168px;
                    &:before{
                        content:"\f3ff";
                        .setFontAweSolid(28px, @secundaria);
                        .transition();
                        display:block;
                        position:absolute;
                        width:80px;
                        height:80px;
                        line-height:80px;
                        text-align:center;
                        top:~"calc(50% - 40px )";
                        right:~"calc(50% - 40px )";
                        -webkit-animation:spin 1.5s linear infinite;
                        -moz-animation:spin 1.5s linear infinite;
                        animation:spin 1.5s linear infinite;
                    }
                    &.is-visible{
                        &:before{
                            .opacity(0);
                        }
                    }
                    a{
                        &.videoThumb{
                            display:block;
                            width:480px;
                            height:270px;
                            overflow:hidden;
                            position:relative;
                            text-align:center;
                            &:before{
                                content:"\f04b";
                                .setFontAweSolid(20px, @branco);
                                line-height:50px;
                                position:absolute;
                                top:50%;
                                left:50%;
                                .translate();
                                width:60px;
                                height:60px;
                                border:5px solid @branco;
                                .borderRadius(50%);
                            }
                            img{
                                display:block;
                                width:100%;
                                height:auto;
                            }
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width:991px), only screen and (max-device-width:991px){
        &{
            margin:0 !important;
            .tabList{
                .lista{
                    overflow:auto;
                    .links{
                        display:block;
                        width:max-content;
                        a{
                            &:link,
                            &:visited{
                                margin:0 20px 20px 0;
                            }
                            &.viewAllVideos{
                                float:left;
                                line-height:25px;
                            }
                        }
                    }
                }
            }
            .tabContent{
                .scrollBox{
                    .responsiveVideo{
                        float:left;
                        height:auto;
                        width:260px;
                        iframe{
                            width:100%;
                            height:auto;
                            display:block;
                        }
                        .LazyLoad{
                            width:320px;
                            height:180px;
                            a{
                                &.videoThumb{
                                    width:320px;
                                    height:180px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}