.row-height {
  display: table;
  height: 100%;
  width: 100%;
}
.row-height .col-height {
  position: relative;
  display: table-cell;
  height: 100%;
  float: none;
}
.row-height .col-height.noPadding {
  padding: 0;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@-webkit-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@-moz-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@-o-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.media {
  padding: 40px 0;
  overflow: hidden;
  border-bottom: 1px solid #d7d7d7;
}
.media .tabList {
  overflow: hidden;
}
.media .tabList h2 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 24px;
  font-weight: normal;
  font-size: 22px;
  color: #000000;
  font-weight: 600;
  margin: 0 20px 25px 0;
  float: left;
}
.media .tabList a:link,
.media .tabList a:visited {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 20px;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  font-weight: 600;
  float: left;
  margin: 0 20px 20px 0;
  text-decoration: none;
  border-bottom: 4px solid #ffffff;
}
.media .tabList a:link span,
.media .tabList a:visited span {
  color: #868e91;
}
.media .tabList a.active {
  border-bottom: 4px solid #000000;
}
.media .tabList a.viewAllVideos {
  float: right;
}
.media .tabList a.viewAllVideos:link,
.media .tabList a.viewAllVideos:visited {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 16px;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  font-weight: 600;
}
.media .tabContent {
  overflow: auto;
}
.media .tabContent .scrollBox {
  display: block;
  width: max-content;
}
.media .tabContent .scrollBox .responsiveVideo {
  float: left;
  height: 201px;
}
.media .tabContent .scrollBox .responsiveVideo iframe {
  width: 485px;
  height: 201px;
  display: block;
}
