.row-height {
  display: table;
  height: 100%;
  width: 100%;
}
.row-height .col-height {
  position: relative;
  display: table-cell;
  height: 100%;
  float: none;
}
.row-height .col-height.noPadding {
  padding: 0;
}
@-webkit-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@-moz-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@-o-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.card {
  margin: 15px 0;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.card .postImage {
  width: 180px;
  float: left;
  position: relative;
}
.card .postImage img {
  display: block;
  width: 180px;
  height: auto;
}
.card .postImage .hoverBox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.card .postContent {
  width: calc(100% - 180px);
  float: left;
  padding: 16px;
}
.card .postContent .rating {
  display: none;
}
.card .postContent h2 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 20px;
  font-weight: normal;
  font-size: 18px;
  color: #081c24;
  font-weight: 600;
  margin: 0;
}
.card .postContent p {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 17px;
  font-weight: normal;
  font-size: 15px;
  color: #4d4d4d;
}
