.row-height {
  display: table;
  height: 100%;
  width: 100%;
}
.row-height .col-height {
  position: relative;
  display: table-cell;
  height: 100%;
  float: none;
}
.row-height .col-height.noPadding {
  padding: 0;
}
@-webkit-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@-moz-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@-o-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.filtros form fieldset legend {
  display: none;
}
.filtros form fieldset .form-group label {
  display: block;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 18px;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
}
.filtros form fieldset .form-group input[type="text"] {
  width: 100%;
  display: block;
  border: 1px solid rgba(33, 37, 41, 0.15);
  padding: 9px 15px;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 18px;
  font-weight: normal;
  font-size: 16px;
  color: #868e91;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.filtros form fieldset .form-group .selectStyle {
  position: relative;
  overflow: hidden;
  display: block;
  background: #e4e4e4;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.filtros form fieldset .form-group .selectStyle:before {
  content: "\f0d7";
  font: bold normal normal 14px/1 'Font Awesome\ 5 Free';
  color: #000000;
  line-height: 14px;
  position: absolute;
  top: calc(50% - 8px);
  right: 10px;
  z-index: 1;
}
.filtros form fieldset .form-group .selectStyle select {
  width: 100%;
  display: block;
  border: 1px solid #e4e4e4;
  padding: 9px 15px;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 18px;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: transparent;
  position: relative;
  z-index: 2;
}
.filtros form fieldset .form-group .selectStyle select:hover {
  border-color: rgba(33, 37, 41, 0.15);
}
