.row-height {
  display: table;
  height: 100%;
  width: 100%;
}
.row-height .col-height {
  position: relative;
  display: table-cell;
  height: 100%;
  float: none;
}
.row-height .col-height.noPadding {
  padding: 0;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@-webkit-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@-moz-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@-o-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.social {
  padding: 40px 0;
  overflow: hidden;
  border-bottom: 1px solid #d7d7d7;
}
.social .tabList {
  overflow: hidden;
}
.social .tabList h2 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 24px;
  font-weight: normal;
  font-size: 22px;
  color: #000000;
  font-weight: 600;
  margin: 0 20px 25px 0;
  float: left;
}
.social .tabList a:link,
.social .tabList a:visited {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 20px;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  font-weight: 600;
  float: left;
  margin: 0 20px 20px 0;
  text-decoration: none;
  border-bottom: 4px solid #ffffff;
}
.social .tabList a:link span,
.social .tabList a:visited span {
  color: #868e91;
}
.social .tabList a.active {
  border-bottom: 4px solid #000000;
}
.social .tabContent {
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  margin: 0;
  padding: 20px;
  overflow: hidden;
}
.social .tabContent .image {
  width: 64px;
  height: 64px;
  float: left;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.social .tabContent .image a:link .LazyLoad,
.social .tabContent .image a:visited .LazyLoad {
  background: #081c24;
  width: 100%;
  height: 100%;
  position: relative;
}
.social .tabContent .image a:link .LazyLoad:before,
.social .tabContent .image a:visited .LazyLoad:before {
  content: "\f3ff";
  font: bold normal normal 28px/1 'Font Awesome\ 5 Free';
  color: #01d277;
  line-height: 28px;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  top: calc(50% - 40px );
  right: calc(50% - 40px );
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
.social .tabContent .image a:link .LazyLoad.is-visible:before,
.social .tabContent .image a:visited .LazyLoad.is-visible:before {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.social .tabContent .image a:link .LazyLoad img,
.social .tabContent .image a:visited .LazyLoad img {
  display: block;
  width: 100%;
  height: auto;
}
.social .tabContent .content {
  width: calc(100% - 64px);
  float: left;
  padding: 0 0 0 20px;
}
.social .tabContent .content h3 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 22px;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  margin: 10px 0 2px 0;
}
.social .tabContent .content h3:after {
  content: '\f005 \ ' attr(data-rating);
  background: #000000;
  font: bold normal normal 14px/1 'Font Awesome\ 5 Free';
  color: #ffffff;
  line-height: 14px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 6px 10px;
  display: inline-block;
  margin: 0 0 0 10px;
}
.social .tabContent .content h3 a:link,
.social .tabContent .content h3 a:visited {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 22px;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
}
.social .tabContent .content p {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 18px;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  margin: 0 0 20px 0;
}
.social .tabContent .content .text {
  margin: 0;
}
.social .tabContent .content .text p {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 18px;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
}
.social p a.viewAll {
  display: block;
  float: left;
}
.social p a.viewAll:link,
.social p a.viewAll:visited {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 20px;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  font-weight: 600;
  margin: 20px 0 0 0;
}
@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
  .social .tabList a:link,
  .social .tabList a:visited {
    margin: 0 14px 20px 0;
  }
  .social .tabContent .image {
    margin: 40px 20px 20px 0;
  }
  .social .tabContent .content {
    width: 100%;
    padding: 0;
    float: none;
  }
  .social .tabContent .content h3 {
    overflow: hidden;
  }
  .social .tabContent .content h3:after {
    display: block;
    margin: 5px 0;
    width: 60px;
    float: left;
  }
  .social .tabContent .content h3 a:link,
  .social .tabContent .content h3 a:visited {
    display: block;
  }
  .social .tabContent .content .text p {
    margin: 0;
  }
}
