.row-height {
  display: table;
  height: 100%;
  width: 100%;
}
.row-height .col-height {
  position: relative;
  display: table-cell;
  height: 100%;
  float: none;
}
.row-height .col-height.noPadding {
  padding: 0;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@-webkit-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@-moz-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@-o-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#footer {
  padding: 0;
  background-image: radial-gradient(at 30% top, #074034 0%, #081c24 70%);
  background-image: url('https://www.themoviedb.org/assets/2/v4/footers_v2/MrRobot-b40ea33e538ff2a92acf477a0de603681597455c74e27ccb00d9001cb08b2f72.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  min-height: 450px;
  padding: 100px 0 200px 0;
}
#footer a.logo {
  display: block;
  margin: 0 auto;
  width: 130px;
}
#footer a.joinComunity:link,
#footer a.joinComunity:visited {
  display: inline-block;
  margin: 20px 0 0 0;
  padding: 10px 28px;
  background: #ffffff;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 19px;
  font-weight: normal;
  font-size: 17px;
  color: #01d277;
  font-weight: 600;
  text-transform: uppercase;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#footer h2 {
  margin: 0;
  padding: 45px 0 5px 0;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 22px;
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}
#footer ul {
  list-style: none;
}
#footer ul li {
  padding: 0;
}
#footer ul li a:link,
#footer ul li a:visited {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 18px;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
}
@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
  #footer {
    background: linear-gradient(to top right, #2455a9, #00d573);
    padding: 40px 0;
  }
  #footer a.logo {
    display: none;
  }
  #footer a.joinComunity {
    margin: 0;
  }
  #footer a.joinComunity:link,
  #footer a.joinComunity:visited {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    line-height: 20px;
    font-weight: normal;
    font-size: 18px;
    color: #235ea7;
    font-weight: 700;
  }
  #footer ul li a:link,
  #footer ul li a:visited {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    line-height: 19px;
    font-weight: normal;
    font-size: 17px;
    color: #ffffff;
  }
}
